.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

div.modal-content {
    color: black;
}

div.modal-content h4 {
    text-shadow: none;
}

div.modal-content p {
    text-shadow: none;
}

div.modal-footer a {
    text-shadow: none;
}