{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>

    
    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == task.created_by|lower %}
                        <!-- Modal Trigger -->
                        <a href="#modal1" class="green accent-4 btn-small modal-trigger">Done</a>

                        <a href="{{ url_for('edit_task', task_id=task._id) }}" class="light-blue lighten-1 btn-small">Edit</a>
                    {% endif %}
                    
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Task Complete</h4>
                            <p>By selecting 'DONE', the task will be permanently removed from the task list. Are you sure you wish to remove the task?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                            <a href="{{ url_for('delete_task', task_id=task._id) }}" class="waves-effect waves-green btn-flat">Yes</a>
                        </div>
                    </div>
                </div>

                <div class="col s9">
                    <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                    {% if task.is_urgent == "on" %}
                        <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped" data-position="bottom"
                            data-tooltip="Urgent!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category_name }}</strong>
                <p>{{ task.task_description }}</p>
                <p><em>by: {{ task.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}